* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* CSS Body Berisi Tagline */

  .top-wrapper {
    padding: 200px 0 200px 0;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/28/480/918/train-blurred-train-station-vehicle-wallpaper-preview.jpg);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 10px;
    text-shadow: 3px 2px 1px black;
  }
  
  .top-wrapper p {
    font-weight: bold;
    margin-bottom: 3px;
    letter-spacing: 1px;
    text-shadow: 3px 2px 1px black;
  }

  /* Penutup CSS Body Berisi Tagline */
  
